.gradient-blue-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 60px 0 0 0;
    padding: 50px 10%;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(18, 0, 158, 1) 100%);
}

.solid-blue-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: column;
    padding: 150px 5vw 75px 5vw;
    background: rgba(18, 0, 158, 1);
    color: white;
}

.black-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 150px 10% 50px 10%;
    background: black;
    color: white;
}

.container-spacer-blue-to-black {
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg,
            rgba(18, 0, 158, 1) 0%,
            rgba(0, 0, 0, 1) 100%);
}

.container-spacer-black-to-blue {
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(18, 0, 158, 1) 100%);
}

.black-box h1,
.solid-blue-box h1 {
    position: absolute;
    top: 0;
    height: 100px;
    padding: 0 50px;
    margin: 0 0 50px 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000000;
    background: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    width: 70%;
}

.black-box h1 {
    left: 0;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.solid-blue-box h1 {
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}