#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#language-select-div {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#language-select-div button:hover, .active-language {
    filter: saturate(1) !important;
    text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}

#language-select-div button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: inherit;
    background-color: transparent;
    border: none;
    filter: saturate(0);
    border-radius: 5px;
    overflow: hidden;
    /* padding: 5px 10px; */
    font-size: 16px;
    width: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}