#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#language-select-div {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* gap: px; */
}

#language-select-div button:hover, .active-language {
    background-color: rgb(17, 17, 17) !important;
    /* color: black !important; */
    text-shadow: 0.7px 0 0 currentColor, -0.7px 0 0 currentColor;
}

#language-select-div button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: inherit;
    background-color: transparent;
    border: none;
    /* border-radius: 5px; */
    overflow: hidden;
    padding: 0 15px;
    font-size: 16px;
    /* width: 30px; */
    cursor: pointer;
    transition: all 0.4s ease;
}

.icon-language {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}