.header-item {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
}

.header-item:hover{
    cursor: pointer;
    background-position: 100% 100%;
    background-size: 100% 3px;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
}