#pfp {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-direction: column;
    padding: 50px;
    color: white;
    text-align: center;
}

#about-me-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    max-width: 60%;
    padding: 50px;
    border-left: 2px solid #fff;
    flex-direction: column;
}

#about-me-div p {
    color: white;
    font-size: 22px;
}

#intro-list {
    color: white;
    font-size: 22px;
    margin: 15px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#intro-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

